.rootPane
{
-fx-border-insets: 23;
-fx-background-insets: 23;
-fx-background-radius: 6;
-fx-border-radius: 6;
-fx-border-color: black;
-fx-border-style: solid;
-fx-border-width: 1;
-fx-effect: dropshadow(three-pass-box, rgba(100, 100, 100, 1), 24, 0.5, 0, 0);
}


.rootPane2
{
-fx-border-insets: 23;
-fx-background-insets: 23;
-fx-background-radius: 6;
-fx-border-radius: 6;
-fx-border-color: black;
-fx-border-style: solid;
-fx-border-width: 1;
-fx-effect: dropshadow(three-pass-box, white, 24, 0.5, 0, 0);
}


.background {
/*     -fx-background-color: #1d1d1d;   */
    -fx-background-color: radial-gradient(focus-angle 0deg , focus-distance 74% , center 50% 50% , radius 55% , #600084, #1d1d1d);
   
    -fx-background-image: url("VITALE_logo-FONDO_trans.png");
    -fx-background-repeat: no-repeat;   
    -fx-background-size: cover;
    -fx-background-position: center center;
/*     -fx-effect: dropshadow(three-pass-box, white, 30, 0.5, 0, 0);  */
   

}

.background2 {
/*     -fx-background-color: #1d1d1d;   */
    -fx-background-color: radial-gradient(focus-angle 245deg , focus-distance 74% , center 50% 50% , radius 55% , #600084, #1d1d1d);
    -fx-background-image: url("VITALE_logo-FONDO_trans2.png");

    -fx-background-repeat: no-repeat;   
    -fx-background-size: 130 50;
    -fx-background-position: right top;

 /*	-fx-background-radius: 20 20 20 20;   redondeo de puntas  */

/*     -fx-effect: dropshadow(three-pass-box, red, 30, 0.5, 0, 0);      supuesta sombra... no la he visto!!! */ 
   
}


.background0 {
    -fx-background-color: radial-gradient(focus-angle 0deg , focus-distance 74% , center 50% 50% , radius 55% , #600084, #1d1d1d);   
}

. {
    -fx-font-size: 13pt;
    -fx-font-family: "Segoe UI", Semibold ;
    -fx-text-fill: white;
    -fx-opacity: 0.6;
}

.label {
    -fx-font-size: 13pt;
    -fx-font-family: "Segoe UI", Semibold ;
    -fx-text-fill: white;
    -fx-opacity: 0.6;
}

.label-bright {
    -fx-font-size: 13pt;
    -fx-font-family: "Segoe UI", Semibold;
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 28pt;
    -fx-font-family: "Segoe UI", Light;
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-h1 {
    -fx-font-size: 24pt;
    -fx-font-family: "Segoe UI" , Semibold;
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-h2 {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI" , Semibold;
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-alarma{
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI" , Semibold;
    -fx-text-fill: red;
    -fx-opacity: 1;
}


.table-view {
  -fx-base: #1d1d1d;
  -fx-control-inner-background: #1d1d1d;
  -fx-background-color: #1d1d1d;
  -fx-table-cell-border-color: transparent;
  -fx-table-header-border-color: transparent;
  -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 13pt;
    -fx-font-family: "Segoe UI" , Light;
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
	-fx-font-size: 13pt;
	-fx-font-family: "Segoe UI", Light;
    -fx-text-fill: white;
    -fx-skin: null;
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal > * > .split-pane-divider {
  -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
  -fx-background-color: transparent, derive(#1d1d1d,20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

.menu-bar {
    -fx-background-color: derive(#1d1d1d,20%);
    -fx-selection-bar: derive(-fx-background,-7%);
}

.menu-bar .label {
    -fx-font-size: 15pt;
    -fx-font-family: "Segoe UI", Light;
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu-bar .menu-item {
    -fx-background-color: derive(#1d1d1d,20%);
    -fx-selection-bar: derive(-fx-background,-7%);
}

.menu-bar .menu-item .label {
    -fx-font-size: 15pt;
    -fx-font-family: "Segoe UI", Light;
    -fx-text-fill:rgb(255,255,128);
    -fx-opacity: 0.9;
}

/*
.text-field {
    -fx-font-size: 10pt;
    -fx-font-family: "Segoe UI",Semibold;
}
*/

.text-field2 {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI",Semibold;
    -fx-alignment: baseline-right;
}



/* 
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
 
.button {
    -fx-padding: 2 5 2 5;
    -fx-border-color: transparent;
/*     -fx-border-width: 2;  */
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 15pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-effect: dropshadow( three-pass-box , white, 5, 0.6, 0, 0 ) 
}

.button:hover {
/*     -fx-background-color: #3a3a3a;
    -fx-effect: dropshadow( three-pass-box , white, 10, 20, 0, 0 ) 
*/
    -fx-background-color: transparent;
    -fx-effect: dropshadow( three-pass-box , white, 10, 0.9, 0, 0 ) 
    
}

.button:pressed, .button:default:hover:pressed {

/* -fx-background-color: #1d1d1d;
  -fx-text-fill: #1d1d1d;
*/  

	-fx-background-color: transparent;
  	-fx-effect: dropshadow( three-pass-box , darkslategray, 10, 0.6, 0, 0 );

}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
/*  -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
*/    
    -fx-opacity: 0.8;
	-fx-background-color: transparent;
  	-fx-effect: dropshadow( three-pass-box , darkslategray, 10, 0.6, 0, 0 );
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}

.tool-bar {
	-fx-background-color: transparent;
	/*-fx-background-color: rgb(109,116,63); */
}

.tab-pane:top 
{
	-fx-background-color: transparent;	
}
		

.tab-pane-pane {
		-fx-background-color: transparent;
}

.text-field  
{  
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI", Semibold ;
    -fx-text-fill: black;
    -fx-background-color: transparent, white, transparent, white;  
    -fx-background-radius: 0, 0, 0, 0;  
    -fx-padding: 0.166667em;  
}  
  
.text-field:hover  
{  
    -fx-background-color: transparent, #909090, transparent, white;  
    -fx-background-radius: 0, 0, 0, 0;  
    -fx-padding: 0.166667em;  
}  
  
.text-field:focused  
{  
    -fx-background-color: transparent, #009EF, transparent, white;  
    -fx-background-radius: 0, 0, 0, 0;  
    -fx-padding: 0.166667em;  
}  